@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto';
  color: #242424;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #564f4f;
}

.header .top-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  margin: 0 167px 0 170px;
}

.header .logo-pic {
  margin-right: 12px;
}

.header .logo-span {
  margin-top: 4px;
  color: #82b541;
  font-family: "Roboto Slab";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4.39px;
}

.header .menu {
  width: 580px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-link {
  color: #ffffff;
  font-family: "Roboto-Thin";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.header .nav-link:hover {
  color: #90d23d;
}

.header .timer {
  height: 196px;
  width: 972px;
  margin: 80px auto 40px auto;
  border-radius: 20px;
  border: 2px solid #90d23d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoSlab-Thin";
  font-size: 130px;
  text-transform: uppercase;
  color: #ffffff;
}

.header .timer__l-grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .timer__span {
  color: #ffffff;
  font-family: "RobotoSlab";
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 46px;
  line-height: 10px;
}

.header .timer__colon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  line-height: 132px;
}

.skew-section {
  background: #564f4f;
  position: relative;
  z-index: -4;
  height: 330px;
}

.skew-section::after {
  background: #fff;
  bottom: -2px;
  content: '';
  display: block;
  height: 53%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -5;
}

.skew-section__icon1 {
  position: absolute;
  top: 136px;
  left: 382px;
  z-index: -6;
}

.skew-section__icon2 {
  position: absolute;
  top: 128px;
  left: 514px;
  z-index: -7;
}

.skew-section__icon3 {
  position: absolute;
  top: 112px;
  left: 636px;
  z-index: -8;
}

.skew-section__icon4 {
  position: absolute;
  top: 100px;
  left: 772px;
  z-index: -9;
}

.skew-section__icon5 {
  position: absolute;
  top: 92px;
  left: 904px;
  z-index: -10;
}

.main {
  margin-top: 18px;
}

.main .main__blog-container {
  margin-left: 170px;
  width: 528px;
  color: #242424;
}

.main .main__title {
  margin: 0;
  font-size: 50px;
  font-family: "Roboto-Black";
}

.main .main__text {
  font-family: "Roboto-Light";
  font-size: 14px;
}

.main .main__text span {
  font-family: "Roboto-Medium";
}
/*# sourceMappingURL=style.css.map */