@import 'base';

.header{
    background-color: #564f4f;
    
    .logo{
        text-decoration: none;
    }
    .top-menu{
        justify-content: space-between;
        align-items: center;
        height: 140px;
        margin: 0 167px 0 170px;
    }
    .logo-pic{
        margin-right: 12px;
    }
    .logo-span{
        margin-top: 4px;
        color: #82b541;
        font-family: "Roboto Slab";
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 4.39px;
    }

    .menu{
        width: 580px;
        justify-content: space-between;
    }
    .nav-link{
        color: #ffffff;
        font-family: "Roboto-Thin";
        font-size: 15px;;
        text-transform: uppercase;
        text-decoration: none;
    }
    .nav-link:hover{
        color: $main-green;
    }
    .timer{
        height: 196px;
        width: 972px;
        margin:80px auto 40px auto;
        border-radius: 20px;
        border: 2px solid $main-green;
        justify-content: center;
        align-items: center;
        font-family: "RobotoSlab-Thin";
        font-size: 130px;
        text-transform: uppercase;
        color: #ffffff;    
        
    }
    .timer__l-grid{
        align-items: center;
    }
    .timer__span{
        color: #ffffff;
        font-family: "RobotoSlab";
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 46px;
        line-height: 10px;
        
    }
    .timer__colon{
        align-self: baseline;
        line-height: 132px;
    }
     
}
.skew-section{
    background: #564f4f;
    position: relative;
    z-index: -4;
    height: 330px;

    &::after {
        background: #fff;
        bottom: -2px;
        content: '';
        display: block;
        height: 53%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-5deg);
        transform-origin: 100%;
        z-index: -5;
      }

    &__icon1{
        position: absolute;
        top: 136px;
        left: 382px;
        z-index: -6;
    }
    &__icon2{
        position: absolute;
        top: 128px;
        left: 514px;
        z-index: -7;
    }
    &__icon3{
        position: absolute;
        top: 112px;
        left: 636px;
        z-index: -8;
    }
    &__icon4{
        position: absolute;
        top: 100px;
        left: 772px;
        z-index: -9;
    }
    &__icon5{
        position: absolute;
        top: 92px;
        left: 904px;
        z-index: -10;
    }
}
.main{
    margin-top: 18px;
    position: relative;

    .main__blog-container{
        margin-left: 170px;
        width: 528px;
        color: $text-primary-color;
    }

    .main__text{
        font-family: "Roboto-Light";
        font-size: 14px;

        span{
            font-family: "Roboto-Medium";
        }
    }
    .form{
        position: absolute;
        width: 430px;
        height: 530px;
        box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
        justify-content: space-between;
        align-items: center;
        top: -274px;
        left: 770px;
        background-color:#fff;

        input[type=text]{
            padding: 16px 14px;
            font-size: 19px;
            width: 342px;
            height: 22px;
            border-radius: 5px;
            border: 1px solid $main-green;
            font-family: 'Roboto-Light';
        }
    }

    .form__title{
        font-family: 'Roboto-Bold';
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .form_button{
        width: 371px;
        height: 58px;
        border-radius: 5px;
        background-color: $main-green;
        font-family: 'Roboto-Bold';
        font-size: 22px;
        color: white;
        margin-top: 18px;

        &:hover{
            cursor: pointer;
        }
    }

    .form__appeal{
        color: #6c6c6c;
        font-size: 15px;
        margin: 0 0 21px 0;
        font-family: 'Roboto-Light';
    }
    
    .main-blogs{
        margin-top: 140px;
        justify-content: space-between;
        padding: 0 172px 0 175px;
        box-sizing: border-box;
        color: $text-primary-color;
    }
    .main-blogs__blog{
        align-items: center;

    }
    .main-blogs__title{
        font-family: "Roboto-Black";
        font-size: 35px;
        margin-top: 34px;
        margin-bottom: 4px;
    }
    .main-blogs__text{
        font-family: "Roboto-Light";
        font-size: 14px;
        width: 290px;
        text-align: center;
    }
    .main-blogs__img{
        width: 198px;
        height: 211px;
    } 
}
.time-table{
    margin-top: 66px;
    align-items: center;
    justify-content: center;
    color: #fff;
    

    .table{
        min-height: 375px;
        width: 1030px;
        margin: 0 auto;
        
    }
    .table__cell{
        min-height: 75px;
        justify-content: start;
        align-items: center;
        font-size: 22px;
        
    }
    .table__cell:last-child{
        border-radius: 0 0 15px 15px;
    }
    .table__cell--title{
        border-radius: 15px 15px 0 0;
        background-color: $main-green;
        font-size: 30px;
        font-family: "Roboto-Black";
    }
    .table__cell--odd{
        background-color: #373737;
    }
    .table__cell--even{
        background-color: #4b4d4f;
    }
    .table__time{
        padding-left: 48px;
        flex-shrink: 0;
    }
    .table__event{
        padding-right: 48px;
        padding-left: 124px;
        justify-content: space-between;
        flex-grow: 1;
    }
    .table__plus{
        flex-shrink: 0;
        padding-right: 48px;
    }
    .table__title-time{
        padding-left: 80px;
    }
    .table__title-events{
        padding-left: 150px;
    }
    .hint{
        font-family: 'Roboto-Light';
        font-size: 14px;
        color: $text-primary-color;
        margin: 38px 98px 0 98px;
        text-align: center;
    }
}
.skew-rewards{
    margin-top: 160px;
    background: #564f4f;
    position: relative;
    z-index: -4;
    height: 700px;
    .container{
        justify-content: center;
        align-items: end;
    }

    &::before {
        background: #fff;
        bottom: 700px;
        content: '';
        display: block;
        height: 20%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-5deg);
        transform-origin: 100%;
        z-index: -5;
      }
      &::after {
        background: #fff;
        bottom: 0px;
        content: '';
        display: block;
        height: 20%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-5deg);
        transform-origin: 100%;
        z-index: -5;
      }
      .elite{
            position: absolute;
            top: -78px;
            left: 270px;
      }
      .reward-block{
            width: 665px;
            height: 258px;
            color: #fff;
    }
}
  
