@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
  color: #242424;
}

.container {
  width: 1030px;
  margin: 0 auto;
  max-width: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.title {
  margin: 0;
  font-size: 50px;
  font-family: "Roboto-Black";
}

.title_color_white {
  color: #fff;
}

/**************************************************************************************************/
.text {
  font-family: "Roboto-Light";
  font-size: 14px;
}

.text_font_medium {
  font-family: "Roboto-Medium";
}

.text_color_6c {
  color: #6c6c6c;
}

.text_size_m {
  font-size: 15px;
}

.text_align_cntr {
  text-align: center;
}

/**************************************************************************************************/
.subtitle {
  font-family: "Roboto-Black";
  font-size: 30px;
  margin: 0;
}

.subtitle_font_size_l {
  font-size: 35px;
}

/**************************************************************************************************/
.button {
  height: 55px;
  width: 200px;
  border-radius: 15px;
  font-family: 'Roboto-Bold';
  border: none;
  font-size: 22px;
  background-color: #90d23d;
  color: white;
}

.button_bgcolor_black {
  background-color: #373737;
}

.button_text_size_m {
  font-size: 18px;
}

.button_size_l {
  height: 58px;
  width: 367px;
}

.button_border_rds_s {
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

/**************************************************************************************************/
.full-width-block_bg_brown {
  background-color: #564f4f;
}

.full-width-block_bg_gray {
  background: #4b4d4f;
}

.full-width-block_skew_top::before {
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #4b4d4f;
  z-index: 9;
  height: 8.625vw;
  bottom: 100%;
}

.full-width-block_skew_bottom::after {
  bottom: 0px;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: white;
  z-index: 9;
  height: 8.625vw;
}

/**************************************************************************************************/
.top-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

/**************************************************************************************************/
.logo {
  text-decoration: none;
}

.logo__logo-pic {
  margin-right: 10px;
}

.logo__logo-title {
  margin-top: 4px;
  margin-left: 4px;
}

/**************************************************************************************************/
.logo-title {
  margin-bottom: 0;
  font-family: "RobotoSlab";
  text-transform: uppercase;
  letter-spacing: 3.39px;
}

.logo-title_green {
  color: #82b541;
}

.logo-title_size_m {
  font-size: 18px;
}

/**************************************************************************************************/
.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  padding-left: 40px;
  color: #ffffff;
  font-family: "Roboto-Thin";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #90d23d;
}

/**************************************************************************************************/
.timer-section__timer {
  margin-top: 80px;
  margin-bottom: 352px;
}

/**************************************************************************************************/
.timer {
  height: 196px;
  padding: 0 80px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoSlab-Thin";
  text-transform: uppercase;
  color: #ffffff;
  font-size: 130px;
}

.timer__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__span {
  font-family: "RobotoSlab";
  margin-bottom: 46px;
  line-height: 10px;
  font-size: 25px;
}

.timer__colon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  line-height: 132px;
}

.timer_border_green {
  border: 2px solid #90d23d;
}

/**************************************************************************************************/
.skew-img {
  position: absolute;
  left: 386px;
  bottom: 188px;
}

.skew-img__img1 {
  position: absolute;
  z-index: 8;
}

.skew-img__img2 {
  position: absolute;
  top: -11px;
  left: 134px;
  z-index: 7;
}

.skew-img__img3 {
  position: absolute;
  top: -26px;
  left: 258px;
  z-index: 6;
}

.skew-img__img4 {
  position: absolute;
  top: -36px;
  left: 394px;
  z-index: 5;
}

.skew-img__img5 {
  position: absolute;
  top: -46px;
  left: 526px;
  z-index: 4;
}

/**************************************************************************************************/
.main {
  margin-top: 38px;
  margin-bottom: 132px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**************************************************************************************************/
.article {
  margin-right: 72px;
}

.article_color_primary {
  color: #242424;
}

/**************************************************************************************************/
.form {
  z-index: 10;
  margin-top: -274px;
  padding: 0 46px;
  height: 530px;
  -webkit-box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
          box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__name, .form__email, .form__phone-number, .form__login {
  padding: 16px 14px;
  font-size: 19px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #90d23d;
  font-family: 'Roboto-Light';
}

.form__title {
  font-family: 'Roboto-Bold';
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 0;
}

.form_bgcolor_white {
  background-color: #fff;
}

.form__button {
  margin-top: 18px;
}

.form__text {
  margin-bottom: 21px;
}

/**************************************************************************************************/
.blogs {
  margin-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #242424;
}

/**************************************************************************************************/
.blog {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__img {
  min-height: 211px;
}

.blog__subtitle {
  margin-top: 34px;
  margin-bottom: 4px;
}

.blog__text {
  padding: 0 38px;
}

/**************************************************************************************************/
.table-events {
  margin-top: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**************************************************************************************************/
.table {
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.table__text {
  margin-top: 40px;
}

/**************************************************************************************************/
.cell__header,
.cell {
  min-height: 75px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.cell__header__header,
.cell__header {
  border-radius: 15px 15px 0 0;
  background-color: #90d23d;
  font-size: 30px;
  font-family: "Roboto-Black";
}

.cell__header__time,
.cell__time {
  padding-left: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cell__header__event,
.cell__event {
  padding-right: 48px;
  padding-left: 124px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cell__header__plus,
.cell__plus {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 48px;
}

.cell__header__subtitle,
.cell__subtitle {
  padding-left: 80px;
  padding-Right: 150px;
}

.cell__header_bfcolor_odd,
.cell_bfcolor_odd {
  background-color: #373737;
}

.cell__header_bfcolor_even,
.cell_bfcolor_even {
  background-color: #4b4d4f;
}

.cell__header_last,
.cell_last {
  border-radius: 0 0 15px 15px;
}

/**************************************************************************************************/
.rewards {
  margin-top: 286px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rewards__elite {
  z-index: 10;
  margin: -205px 0 0 164px;
}

/**************************************************************************************************/
.reward-block {
  margin-left: 20px;
  text-align: right;
  margin-top: 36px;
  width: 665px;
  min-height: 258px;
  color: #fff;
  margin-bottom: 158px;
}

.reward-block__title {
  margin-bottom: 24px;
}

.reward-block .reward-block__title {
  font-family: "Roboto-Bold";
}

.reward-block .reward-block__btn {
  font-size: 18px;
  background-color: #90d23d;
  border-radius: 15px;
  padding: 15px 22px;
  margin-top: 25px;
  color: #fff;
  border: none;
}
/*# sourceMappingURL=style.css.map */