@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
  color: #242424;
}

.container {
  width: 1030px;
  margin: 0 auto;
  max-width: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h2_title {
  margin: 0;
  font-size: 50px;
  font-family: "Roboto-Black";
}

.header_bg_color {
  background-color: #564f4f;
}

/**************************************************************************************************/
.top-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

/**************************************************************************************************/
.logo {
  text-decoration: none;
}

.logo__logo-pic {
  margin-right: 12px;
}

.logo__logo-title {
  margin-top: 4px;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  letter-spacing: 4.39px;
}

.logo__logo-title_green {
  color: #82b541;
}

.logo__logo-title_size_m {
  font-size: 18px;
}

/**************************************************************************************************/
.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  padding-left: 40px;
  color: #ffffff;
  font-family: "Roboto-Thin";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #90d23d;
}

/**************************************************************************************************/
.timer-section {
  position: relative;
  z-index: -4;
}

.timer-section_bg_color {
  background-color: #564f4f;
}

.timer-section__timer {
  margin: 80px auto 352px auto;
}

.timer-section::after {
  bottom: 0px;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: white;
  z-index: -5;
  height: 8.625vw;
}

/**************************************************************************************************/
.timer {
  height: 196px;
  padding: 0 80px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoSlab-Thin";
  text-transform: uppercase;
  color: #ffffff;
  font-size: 130px;
}

.timer__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__span {
  color: #ffffff;
  font-family: "RobotoSlab";
  text-transform: uppercase;
  margin-bottom: 46px;
  line-height: 10px;
  font-size: 25px;
}

.timer__colon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  line-height: 132px;
}

.timer_border_green {
  border: 2px solid #90d23d;
}

/**************************************************************************************************/
.skew-section {
  position: absolute;
  top: 14vw;
  left: 14vw;
}

.skew-section__icon1 {
  position: absolute;
  top: 138px;
  left: 222px;
  z-index: -6;
}

.skew-section__icon2 {
  position: absolute;
  top: 128px;
  left: 356px;
  z-index: -7;
}

.skew-section__icon3 {
  position: absolute;
  top: 114px;
  left: 478px;
  z-index: -8;
}

.skew-section__icon4 {
  position: absolute;
  top: 102px;
  left: 613px;
  z-index: -9;
}

.skew-section__icon5 {
  position: absolute;
  top: 92px;
  left: 746px;
  z-index: -10;
}

/**************************************************************************************************/
.main {
  margin-top: 38px;
  position: relative;
}

.main__article {
  margin-right: 72px;
  color: #242424;
}

.main__text {
  font-family: "Roboto-Light";
  font-size: 14px;
}

.main__text span {
  font-family: "Roboto-Medium";
}

.main__l-text-and-form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .form {
  margin-top: -274px;
  padding: 0 46px;
  height: 530px;
  -webkit-box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
          box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 430px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .form input[type=text] {
  padding: 16px 14px;
  font-size: 19px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #90d23d;
  font-family: 'Roboto-Light';
}

.main .form__title {
  font-family: 'Roboto-Bold';
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 0;
}

.main .form_button {
  padding: 15px 135px;
  border-radius: 5px;
  background-color: #90d23d;
  font-family: 'Roboto-Bold';
  font-size: 22px;
  color: white;
  margin-top: 18px;
  border: none;
}

.main .form_button:hover {
  cursor: pointer;
}

.main .form__appeal {
  color: #6c6c6c;
  font-size: 15px;
  margin: 0 0 21px 0;
  font-family: 'Roboto-Light';
}

.main .main-blogs {
  margin-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #242424;
}

.main .main-blogs__blog {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-blogs__title {
  font-family: "Roboto-Black";
  font-size: 35px;
  margin-top: 34px;
  margin-bottom: 4px;
}

.main .main-blogs__text {
  font-family: "Roboto-Light";
  font-size: 14px;
  width: 290px;
  text-align: center;
}

.main .main-blogs__img {
  width: 198px;
  height: 211px;
}

.time-table {
  margin-top: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.time-table .table {
  width: 100%;
  margin: 0 auto;
}

.time-table .table__cell {
  min-height: 75px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.time-table .table__cell:last-child {
  border-radius: 0 0 15px 15px;
}

.time-table .table__cell--title {
  border-radius: 15px 15px 0 0;
  background-color: #90d23d;
  font-size: 30px;
  font-family: "Roboto-Black";
}

.time-table .table__cell--odd {
  background-color: #373737;
}

.time-table .table__cell--even {
  background-color: #4b4d4f;
}

.time-table .table__time {
  padding-left: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.time-table .table__event {
  padding-right: 48px;
  padding-left: 124px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.time-table .table__plus {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 48px;
}

.time-table .table__title-time {
  padding-left: 80px;
}

.time-table .table__title-events {
  padding-left: 150px;
}

.time-table .hint {
  font-family: 'Roboto-Light';
  font-size: 14px;
  color: #242424;
  margin: 38px 98px 0 98px;
  text-align: center;
}

.skew-rewards {
  margin-top: 286px;
  background: #4b4d4f;
  position: relative;
  z-index: -4;
  min-height: 580px;
}

.skew-rewards .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skew-rewards::before {
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #4b4d4f;
  z-index: -5;
  height: 8.625vw;
  bottom: 100%;
}

.skew-rewards::after {
  bottom: 0px;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: white;
  z-index: -5;
  height: 8.625vw;
}

.skew-rewards .elite {
  margin: -205px 0 0 164px;
}

.skew-rewards .reward-block {
  margin-left: 20px;
  text-align: right;
  margin-top: 36px;
  width: 665px;
  min-height: 258px;
  color: #fff;
  margin-bottom: 158px;
}

.skew-rewards .reward-block__text {
  font-family: 'Roboto-light';
  font-size: 14px;
}

.skew-rewards .reward-block__title {
  margin-bottom: 24px;
  font-family: "Roboto-Bold";
}

.skew-rewards .reward-block__btn {
  font-size: 18px;
  background-color: #90d23d;
  border-radius: 15px;
  padding: 15px 22px;
  margin-top: 25px;
  color: #fff;
  border: none;
}
/*# sourceMappingURL=style.css.map */